body {
	background: black;
	font-family: sans-serif;
	color: rgb(53, 122, 206);
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 100%;
	margin: 0;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 5px;
}

input {
	border: none;
	border-bottom: gray solid 1px;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: rgb(53, 122, 206);
	padding: 0.4rem;
	border: none;
	border-radius: 3px;
	color: white;
}
p {
	color: rgb(53, 122, 206);
}
::placeholder {
	color: rgb(53, 122, 206);
}
